@font-face {
    font-family: Sixtyfour;
    src: url(./Sixtyfour-Regular-VariableFont_BLED\,SCAN.ttf);
}

* {
    font-family: Sixtyfour;
    text-align: center;
}

html {
    background: linear-gradient(90deg, rgba(102,179,113,1) 0%, rgba(0,212,255,1) 100%);
}

#game_header {
    color: whitesmoke;
    background-color: black;
    border-radius: 10px;
    line-height: 80px;
    margin-bottom: 6px;
}

#message_panel {
    margin-top: 6px;
    color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    line-height: 48px;
    border: 6px solid black;

    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#finalee {
    margin-top: 6px;
    color: rgb(185 27 65);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    line-height: 48px;
    font-size: large;
    text-transform:uppercase;
    border: 6px solid black;

    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-style: hidden;
}

table td, table th {
    border: 6px solid black;
}

input {
    padding: 48px 48px;
    font-size: 70px;
    border: 0;
    background-color: transparent;
}

input:hover {
    background-color: black;
    color: white;
    opacity: .75;
    border: 6px solid white;
    border-radius: 10px;
    padding: 36px 36px;
}